* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    font-family: 'Comfortaa', sans-serif;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    color: white;
}

.logo {
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links li {
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    min-height: 80vh;
}

.box {
    width: 300px;
    padding: 40px;
    background-color: gray;
    border-radius: 5px;
}

.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #395591;
}

.form span {
  font-size: 75px;
  color: #4b6cb7;
}

.button {
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    letter-spacing: 1px;
    color: white;
    padding: 20px 40px;
    transition: all 0.1s ease-out;
  }
  .button:hover {
    background-color: #90feb5;
    color: #fff;
  }
  .button:active {
    transform: scale(0.95);
  }

  #check-players {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color:#CD5C5C;
  }
#mine-cards {
  display: flex;
  flex-direction: row;
  height: 70vh;
}
#opponent-cards {
  display: flex;
  flex-direction: row;
  height: 20vh;
}
.card {
  display: flex;
  margin-top: auto;
  cursor: pointer;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover {
  transform: scale(0.7);
}

img:focus {
  transform: scale(1.1);
}
.timer {
    margin: 0 auto;
    padding: 20px;
    display: block;
    max-width: 150px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 10px -5px #909090;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#countdown {
  font-size: 48px;
}

.player-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}
.about {
  position: absolute;
  top: 11%;
  left: 20%;
  font-size: 18px;
}