* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    font-family: 'Comfortaa', cursive;
}

.chat {
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: center;
    min-height: 50vh;
}

.chathistory {
    min-height: 200px;
    width: 200px;
    background-color: #f1f1f1;
}

